In [4]:
!pip install iterative-stratification

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Collecting iterative-stratification
  Using cached iterative_stratification-0.1.6-py3-none-any.whl (8.7 kB)
Requirement already satisfied: scikit-learn in /home/ubuntu/.local/lib/python3.6/site-packages (from iterative-stratification) (0.22.1)
Requirement already satisfied: numpy in /home/ubuntu/.local/lib/python3.6/site-packages (from iterative-stratification) (1.18.1)
Requirement already satisfied: scipy in /home/ubuntu/.local/lib/python3.6/site-packages (from iterative-stratification) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /home/ubuntu/.local/lib/python3.6/site-packages (from scikit-learn->iterative-stratification) (0.14.1)
Installing collected packages: iterative-stratification
Successfully installed iterative-stratification-0.1.6

In [5]:
import pandas as pd
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold

In [14]:
if __name__ == "__main__":
    df = pd.read_csv("/home/ubuntu/datasets/bengali-ai/train.csv")
    print(df.head())
    df.loc[:,"kfold"] = -1
    
    # random shuffle with fraction = 1 then reset the index
    df = df.sample(frac=1).reset_index(drop=True)
    
    X = df.image_id.values
    y = df[["grapheme_root","vowel_diacritic","consonant_diacritic"]].values
    
    # define how many folds
    mskf = MultilabelStratifiedKFold(n_splits=5)
    
    # Let's go through the iterator and get trai and al indices
    for fold, (trn_, val_) in enumerate(mskf.split(X, y)):
        print("TRAIN: ", trn_, "VALID : ",val_)
        df.loc[val_, "kfold"] = fold
        
    print(df.kfold.value_counts())
    df.to_csv("../input/train_folds.csv", index=False)

  image_id  grapheme_root  vowel_diacritic  consonant_diacritic grapheme
0  Train_0             15                9                    5   ক্ট্রো
1  Train_1            159                0                    0        হ
2  Train_2             22                3                    5     খ্রী
3  Train_3             53                2                    2     র্টি
4  Train_4             71                9                    5     থ্রো
TRAIN:  [     0      1      2 ... 200836 200837 200838] VALID :  [     7     13     37 ... 200832 200833 200839]
TRAIN:  [     0      3      6 ... 200837 200838 200839] VALID :  [     1      2      4 ... 200823 200824 200834]
TRAIN:  [     0      1      2 ... 200837 200838 200839] VALID :  [    12     14     35 ... 200830 200831 200836]
TRAIN:  [     1      2      3 ... 200836 200837 200839] VALID :  [     0      6     15 ... 200827 200835 200838]
TRAIN:  [     0      1      2 ... 200836 200838 200839] VALID :  [     3     18     27 ... 200825 200829 200837]
4    40168
3    40168
2    40168
1    40168
0    40168
Name: kfold, dtype: int64

In [8]:
df = pd.read_csv("../input/train_folds.csv")

In [9]:
df.head(5)

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,grapheme,kfold
0,Train_14284,38,7,2,র্চে,3
1,Train_37768,38,8,0,চৈ,1
2,Train_63278,124,7,0,লে,1
3,Train_15242,103,4,5,ফ্রু,4
4,Train_13327,150,5,0,স্তূ,1

In [10]:
df.groupby('kfold').count()

       image_id  grapheme_root  vowel_diacritic  consonant_diacritic  grapheme
kfold
0         40168          40168            40168                40168     40168
1         40168          40168            40168                40168     40168
2         40168          40168            40168                40168     40168
3         40168          40168            40168                40168     40168
4         40168          40168            40168                40168     40168

In [17]:
df.groupby(['kfold','consonant_diacritic']).image_id.count()

kfold  consonant_diacritic
0      0                      25056
       1                       1503
       2                       4727
       3                        128
       4                       4240
       5                       4243
       6                        271
1      0                      25056
       1                       1463
       2                       4710
       3                        133
       4                       4297
       5                       4223
       6                        286
2      0                      25055
       1                       1488
       2                       4707
       3                        107
       4                       4219
       5                       4315
       6                        277
3      0                      25055
       1                       1458
       2                       4679
       3                        140
       4                       4289
       5                       4269
       6                        278
4      0                      25056
       1                       1512
       2                       4642
       3                        111
       4                       4225
       5                       4347
       6                        275
Name: image_id, dtype: int64

__^ As expected, we see classes of consonant diacritic equally divided in all folds above__