In [1]:
import pyarrow.parquet as pq 
import pandas as pd

In [2]:
!ls -l ~/datasets/bengali-ai/

total 9126404
-rw-r--r-- 1 ubuntu ubuntu 4161805187 Jan 16 23:18 bengaliai-cv19.zip
-rw-r--r-- 1 ubuntu ubuntu       4830 Dec 19 18:22 class_map.csv
-rw-r--r-- 1 ubuntu ubuntu        944 Dec 19 18:22 sample_submission.csv
-rw-r--r-- 1 ubuntu ubuntu       1742 Dec 19 18:22 test.csv
-rw-r--r-- 1 ubuntu ubuntu    9903859 Dec 19 18:22 test_image_data_0.parquet
-rw-r--r-- 1 ubuntu ubuntu   10003997 Dec 19 18:22 test_image_data_1.parquet
-rw-r--r-- 1 ubuntu ubuntu    9996850 Dec 19 18:22 test_image_data_2.parquet
-rw-r--r-- 1 ubuntu ubuntu    9995989 Dec 19 18:22 test_image_data_3.parquet
-rw-r--r-- 1 ubuntu ubuntu    6281787 Dec 19 18:22 train.csv
-rw-r--r-- 1 ubuntu ubuntu 1285682162 Dec 19 18:22 train_image_data_0.parquet
-rw-r--r-- 1 ubuntu ubuntu 1278647926 Dec 19 18:25 train_image_data_1.parquet
-rw-r--r-- 1 ubuntu ubuntu 1287469785 Dec 19 18:29 train_image_data_2.parquet
-rw-r--r-- 1 ubuntu ubuntu 1285595675 Dec 19 18:32 train_image_data_3.parquet

### Class Mapping File

In [3]:
class_map = pd.read_csv("/home/ubuntu/datasets/bengali-ai/class_map.csv")

In [4]:
class_map.shape

(186, 3)

In [5]:
class_map.describe

<bound method NDFrame.describe of           component_type  label component
0          grapheme_root      0         ং
1          grapheme_root      1         ঃ
2          grapheme_root      2         অ
3          grapheme_root      3         আ
4          grapheme_root      4         ই
5          grapheme_root      5         ঈ
6          grapheme_root      6         উ
7          grapheme_root      7         ঊ
8          grapheme_root      8         ঋ
9          grapheme_root      9         এ
10         grapheme_root     10         ঐ
11         grapheme_root     11         ও
12         grapheme_root     12         ঔ
13         grapheme_root     13         ক
14         grapheme_root     14       ক্ক
15         grapheme_root     15       ক্ট
16         grapheme_root     16       ক্ত
17         grapheme_root     17       ক্ল
18         grapheme_root     18       ক্ষ
19         grapheme_root     19     ক্ষ্ণ
20         grapheme_root     20     ক্ষ্ম
21         grapheme_root     21       ক্স
22         grapheme_root     22         খ
23         grapheme_root     23         গ
24         grapheme_root     24       গ্ধ
25         grapheme_root     25       গ্ন
26         grapheme_root     26       গ্ব
27         grapheme_root     27       গ্ম
28         grapheme_root     28       গ্ল
29         grapheme_root     29         ঘ
..                   ...    ...       ...
156        grapheme_root    156       স্ম
157        grapheme_root    157       স্ল
158        grapheme_root    158       স্স
159        grapheme_root    159         হ
160        grapheme_root    160       হ্ন
161        grapheme_root    161       হ্ব
162        grapheme_root    162       হ্ম
163        grapheme_root    163       হ্ল
164        grapheme_root    164         ৎ
165        grapheme_root    165         ড়
166        grapheme_root    166         ঢ়
167        grapheme_root    167         য়
168      vowel_diacritic      0         0
169      vowel_diacritic      1         া
170      vowel_diacritic      2         ি
171      vowel_diacritic      3         ী
172      vowel_diacritic      4         ু
173      vowel_diacritic      5         ূ
174      vowel_diacritic      6         ৃ
175      vowel_diacritic      7         ে
176      vowel_diacritic      8         ৈ
177      vowel_diacritic      9         ো
178      vowel_diacritic     10         ৌ
179  consonant_diacritic      0         0
180  consonant_diacritic      1         ঁ
181  consonant_diacritic      2        র্
182  consonant_diacritic      3       র্য
183  consonant_diacritic      4        ্য
184  consonant_diacritic      5        ্র
185  consonant_diacritic      6      ্র্য

[186 rows x 3 columns]>

In [6]:
class_map.head(20)

   component_type  label component
0   grapheme_root      0         ং
1   grapheme_root      1         ঃ
2   grapheme_root      2         অ
3   grapheme_root      3         আ
4   grapheme_root      4         ই
5   grapheme_root      5         ঈ
6   grapheme_root      6         উ
7   grapheme_root      7         ঊ
8   grapheme_root      8         ঋ
9   grapheme_root      9         এ
10  grapheme_root     10         ঐ
11  grapheme_root     11         ও
12  grapheme_root     12         ঔ
13  grapheme_root     13         ক
14  grapheme_root     14       ক্ক
15  grapheme_root     15       ক্ট
16  grapheme_root     16       ক্ত
17  grapheme_root     17       ক্ল
18  grapheme_root     18       ক্ষ
19  grapheme_root     19     ক্ষ্ণ

### The Train Files

In [41]:
train_0 = pq.read_pandas('/home/ubuntu/datasets/bengali-ai/train_image_data_0.parquet').to_pandas()
train_1 = pq.read_pandas('/home/ubuntu/datasets/bengali-ai/train_image_data_1.parquet').to_pandas()
train_2 = pq.read_pandas('/home/ubuntu/datasets/bengali-ai/train_image_data_2.parquet').to_pandas()
train_3 = pq.read_pandas('/home/ubuntu/datasets/bengali-ai/train_image_data_3.parquet').to_pandas()

In [8]:
type(train_0)

pandas.core.frame.DataFrame

In [9]:
train_0.shape

(50210, 32333)

In [10]:
train_0.describe

<bound method NDFrame.describe of           image_id    0    1    2    3    4    5    6    7    8  ...  32322  \
0          Train_0  254  253  252  253  251  252  253  251  251  ...    253
1          Train_1  251  244  238  245  248  246  246  247  251  ...    255
2          Train_2  251  250  249  250  249  245  247  252  252  ...    254
3          Train_3  247  247  249  253  253  252  251  251  250  ...    254
4          Train_4  249  248  246  246  248  244  242  242  229  ...    255
5          Train_5  251  251  252  253  251  249  248  248  249  ...    252
6          Train_6  238  236  234  235  238  242  241  237  230  ...    251
7          Train_7  250  251  252  252  252  252  252  252  252  ...    253
8          Train_8  251  252  251  253  254  253  254  253  254  ...    253
9          Train_9  251  249  252  253  253  253  253  253  253  ...    253
10        Train_10  250  252  252  252  251  250  249  246  244  ...    252
11        Train_11  252  252  252  252  252  252  252  252  251  ...    252
12        Train_12  253  253  253  253  253  253  253  253  253  ...    255
13        Train_13  249  249  250  248  246  253  248  245  252  ...    254
14        Train_14  241  236  241  245  238  238  237  237  241  ...    251
15        Train_15  251  252  253  252  250  251  252  252  252  ...    253
16        Train_16  243  245  249  249  251  250  251  250  251  ...    254
17        Train_17  244  241  241  246  248  244  245  246  244  ...    254
18        Train_18  251  252  252  251  252  251  251  252  250  ...    253
19        Train_19  251  252  252  250  249  250  251  253  252  ...    255
20        Train_20  255  254  254  254  255  255  255  255  255  ...    255
21        Train_21  249  251  251  252  252  252  252  252  252  ...    254
22        Train_22  248  250  251  248  243  247  248  246  250  ...    254
23        Train_23  252  252  253  253  252  251  251  252  252  ...    254
24        Train_24  251  250  250  250  251  250  249  249  250  ...    251
25        Train_25  249  252  251  251  251  252  252  252  251  ...    254
26        Train_26  249  248  245  231  237  247  250  249  249  ...    252
27        Train_27  249  247  249  251  252  252  250  249  251  ...    253
28        Train_28  247  250  245  241  249  246  241  246  245  ...    254
29        Train_29  250  252  252  245  252  253  252  251  253  ...    255
...            ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
50180  Train_50180  255  255  255  255  255  255  255  255  255  ...    255
50181  Train_50181  255  255  255  255  255  255  255  255  255  ...    255
50182  Train_50182  250  255  255  255  255  255  254  255  255  ...    255
50183  Train_50183  245  242  250  248  245  248  251  249  249  ...    255
50184  Train_50184  247  251  252  253  253  254  253  254  253  ...    252
50185  Train_50185  251  251  250  250  249  248  249  249  250  ...    255
50186  Train_50186  219  220  213  207  212  214  217  212  214  ...    249
50187  Train_50187  196  208  201  199  187  182  192  183  173  ...    219
50188  Train_50188  252  253  252  250  252  253  253  253  253  ...    253
50189  Train_50189  250  250  252  251  251  251  251  252  251  ...    255
50190  Train_50190  250  251  250  243  245  246  244  248  249  ...    254
50191  Train_50191  249  251  251  250  248  250  252  250  249  ...    252
50192  Train_50192  245  242  239  240  243  246  248  248  248  ...    253
50193  Train_50193  248  247  244  249  252  250  249  241  242  ...    253
50194  Train_50194  243  246  250  250  251  251  251  251  252  ...    253
50195  Train_50195  219  233  229  232  240  242  236  238  247  ...    222
50196  Train_50196  249  251  253  253  253  253  252  251  250  ...    254
50197  Train_50197  255  255  255  255  255  255  255  255  255  ...    248
50198  Train_50198  208  245  243  244  246  244  247  247  245  ...    218
50199  Train_50199  255  255  255  255  255  255  255  255  255  ...    253
50200  Train_50200  243  245  251  241  238  247  246  249  252  ...    255
50201  Train_50201  254  253  253  251  249  255  253  252  254  ...    254
50202  Train_50202  247  245  250  248  249  247  250  248  245  ...    255
50203  Train_50203  247  242  246  247  239  244  250  249  249  ...    252
50204  Train_50204  253  253  253  254  254  254  253  249  251  ...    251
50205  Train_50205  247  250  250  250  252  250  250  250  251  ...    246
50206  Train_50206  250  251  250  244  245  243  246  248  246  ...    255
50207  Train_50207  246  245  246  246  245  245  247  247  245  ...    247
50208  Train_50208  246  242  240  244  247  242  239  241  245  ...    247
50209  Train_50209  255  255  255  255  255  255  255  255  255  ...    255

       32323  32324  32325  32326  32327  32328  32329  32330  32331
0        253    253    253    253    253    253    253    253    251
1        255    255    255    255    255    255    255    255    254
2        253    252    252    253    253    253    253    251    249
3        254    254    254    254    253    253    252    251    252
4        255    255    255    255    255    255    255    255    255
5        251    252    252    252    253    253    252    251    250
6        251    253    254    254    253    252    251    252    253
7        254    254    253    253    253    253    253    251    251
8        253    253    253    253    253    253    253    253    252
9        253    253    252    253    253    253    253    252    252
10       252    252    252    252    252    253    253    253    252
11       252    252    252    252    251    250    250    249    249
12       255    254    254    254    254    254    254    254    254
13       253    253    253    253    253    253    253    253    252
14       250    251    253    252    252    252    253    252    251
15       254    253    253    253    253    254    255    254    250
16       254    253    250    250    251    252    253    253    254
17       254    253    252    253    254    254    250    242    236
18       253    253    253    252    252    253    253    248    246
19       255    255    255    255    255    255    255    253    253
20       255    255    255    254    254    254    254    255    255
21       254    254    254    254    254    254    254    254    253
22       254    254    254    254    253    253    252    251    252
23       254    254    254    253    252    252    252    252    252
24       251    251    251    252    252    253    253    252    251
25       254    254    254    254    254    254    253    251    250
26       251    251    251    253    253    253    252    252    251
27       254    254    254    254    254    254    253    253    252
28       254    253    253    253    253    253    253    253    253
29       255    255    255    255    255    255    255    255    254
...      ...    ...    ...    ...    ...    ...    ...    ...    ...
50180    255    255    255    255    255    255    254    254    254
50181    255    255    255    255    255    255    255    252    246
50182    254    254    254    254    254    254    254    254    255
50183    255    255    255    255    255    255    255    255    255
50184    252    252    252    252    252    252    252    252    250
50185    255    255    255    255    255    255    255    255    255
50186    253    252    252    252    253    254    254    254    253
50187    214    206    205    207    211    214    200    193    146
50188    254    253    253    254    254    253    253    254    253
50189    254    254    254    254    254    254    254    254    255
50190    254    254    254    254    254    254    254    254    254
50191    251    254    253    253    253    253    253    253    253
50192    255    255    255    255    255    255    255    255    254
50193    253    253    253    253    253    253    253    253    253
50194    254    254    254    254    254    254    254    254    254
50195    225    223    224    223    223    213    195    161     89
50196    254    254    254    254    254    254    254    254    254
50197    248    250    252    252    249    248    249    247    250
50198    221    219    214    210    205    203    197    168    125
50199    253    253    254    254    254    253    254    254    254
50200    255    255    255    255    255    255    255    254    251
50201    254    254    253    253    254    252    251    251    251
50202    255    255    255    255    255    255    255    255    255
50203    252    253    253    252    251    250    249    250    249
50204    251    251    251    251    251    252    251    247    248
50205    248    252    252    249    248    250    247    243    243
50206    255    255    255    255    255    255    255    255    253
50207    246    248    246    245    248    249    246    243    245
50208    247    247    247    247    246    246    248    248    247
50209    255    255    255    255    255    255    255    255    255

[50210 rows x 32333 columns]>

In [11]:
train_0[:1]

,image_id,0,1,2,3,4,5,6,7,8,...,32322,32323,32324,32325,32326,32327,32328,32329,32330,32331
0,Train_0,254,253,252,253,251,252,253,251,251,...,253,253,253,253,253,253,253,253,253,251

Training data label file

In [12]:
train_labels = pd.read_csv("/home/ubuntu/datasets/bengali-ai/train.csv")

In [13]:
train_labels.head()

  image_id  grapheme_root  vowel_diacritic  consonant_diacritic grapheme
0  Train_0             15                9                    5   ক্ট্রো
1  Train_1            159                0                    0        হ
2  Train_2             22                3                    5     খ্রী
3  Train_3             53                2                    2     র্টি
4  Train_4             71                9                    5     থ্রো

### The Test Files

In [14]:
test_0 = pq.read_pandas('/home/ubuntu/datasets/bengali-ai/test_image_data_0.parquet').to_pandas()

In [15]:
test_0.shape

(3, 32333)

In [16]:
test_0[:]

,image_id,0,1,2,3,4,5,6,7,8,...,32322,32323,32324,32325,32326,32327,32328,32329,32330,32331
0,Test_0,247,253,253,252,252,252,252,253,253,...,254,254,254,254,254,254,253,253,252,250
1,Test_1,253,253,253,253,253,253,253,253,253,...,255,255,255,255,255,255,255,255,255,255
2,Test_2,253,253,253,253,253,252,251,252,252,...,255,255,255,255,255,255,255,254,253,252

### Sample submission format

In [17]:
sample_submission = pd.read_csv('/home/ubuntu/datasets/bengali-ai/sample_submission.csv')

In [18]:
sample_submission.head(20)

                        row_id  target
0   Test_0_consonant_diacritic       0
1         Test_0_grapheme_root       0
2       Test_0_vowel_diacritic       0
3   Test_1_consonant_diacritic       0
4         Test_1_grapheme_root       0
5       Test_1_vowel_diacritic       0
6   Test_2_consonant_diacritic       0
7         Test_2_grapheme_root       0
8       Test_2_vowel_diacritic       0
9   Test_3_consonant_diacritic       0
10        Test_3_grapheme_root       0
11      Test_3_vowel_diacritic       0
12  Test_4_consonant_diacritic       0
13        Test_4_grapheme_root       0
14      Test_4_vowel_diacritic       0
15  Test_5_consonant_diacritic       0
16        Test_5_grapheme_root       0
17      Test_5_vowel_diacritic       0
18  Test_6_consonant_diacritic       0
19        Test_6_grapheme_root       0

In [19]:
!ls -l /home/ubuntu/datasets/bengali-ai/

total 9126404
-rw-r--r-- 1 ubuntu ubuntu 4161805187 Jan 16 23:18 bengaliai-cv19.zip
-rw-r--r-- 1 ubuntu ubuntu       4830 Dec 19 18:22 class_map.csv
-rw-r--r-- 1 ubuntu ubuntu        944 Dec 19 18:22 sample_submission.csv
-rw-r--r-- 1 ubuntu ubuntu       1742 Dec 19 18:22 test.csv
-rw-r--r-- 1 ubuntu ubuntu    9903859 Dec 19 18:22 test_image_data_0.parquet
-rw-r--r-- 1 ubuntu ubuntu   10003997 Dec 19 18:22 test_image_data_1.parquet
-rw-r--r-- 1 ubuntu ubuntu    9996850 Dec 19 18:22 test_image_data_2.parquet
-rw-r--r-- 1 ubuntu ubuntu    9995989 Dec 19 18:22 test_image_data_3.parquet
-rw-r--r-- 1 ubuntu ubuntu    6281787 Dec 19 18:22 train.csv
-rw-r--r-- 1 ubuntu ubuntu 1285682162 Dec 19 18:22 train_image_data_0.parquet
-rw-r--r-- 1 ubuntu ubuntu 1278647926 Dec 19 18:25 train_image_data_1.parquet
-rw-r--r-- 1 ubuntu ubuntu 1287469785 Dec 19 18:29 train_image_data_2.parquet
-rw-r--r-- 1 ubuntu ubuntu 1285595675 Dec 19 18:32 train_image_data_3.parquet

### Understanding the data format

(train/test).parquet

Each parquet file contains tens of thousands of 137x236 grayscale images. The images have been provided in the parquet format for I/O and space efficiency. Each row in the parquet files contains an image_id column, and the flattened image.

In [21]:
train_0.shape

(50210, 32333)

In [25]:
train_0[:1]

,image_id,0,1,2,3,4,5,6,7,8,...,32322,32323,32324,32325,32326,32327,32328,32329,32330,32331
0,Train_0,254,253,252,253,251,252,253,251,251,...,253,253,253,253,253,253,253,253,253,251

In [22]:
137*236

32332

In [39]:
train_0[train_0.columns[0]].head(), train_0[train_0.columns[0]].tail()

(0    Train_0
 1    Train_1
 2    Train_2
 3    Train_3
 4    Train_4
 Name: image_id, dtype: object, 0    Train_50210
 1    Train_50211
 2    Train_50212
 3    Train_50213
 4    Train_50214
 Name: image_id, dtype: object)

In [40]:
train_1[train_1.columns[0]].head(), train_1[train_1.columns[0]].tail()

(0    Train_50210
 1    Train_50211
 2    Train_50212
 3    Train_50213
 4    Train_50214
 Name: image_id, dtype: object, 50205    Train_100415
 50206    Train_100416
 50207    Train_100417
 50208    Train_100418
 50209    Train_100419
 Name: image_id, dtype: object)

In [42]:
train_2[train_2.columns[0]].head(), train_2[train_2.columns[0]].tail()

(0    Train_100420
 1    Train_100421
 2    Train_100422
 3    Train_100423
 4    Train_100424
 Name: image_id, dtype: object, 50205    Train_150625
 50206    Train_150626
 50207    Train_150627
 50208    Train_150628
 50209    Train_150629
 Name: image_id, dtype: object)

In [43]:
train_3[train_3.columns[0]].head(), train_3[train_3.columns[0]].tail()

(0    Train_150630
 1    Train_150631
 2    Train_150632
 3    Train_150633
 4    Train_150634
 Name: image_id, dtype: object, 50205    Train_200835
 50206    Train_200836
 50207    Train_200837
 50208    Train_200838
 50209    Train_200839
 Name: image_id, dtype: object)